/*Zweispaltiges Layout*/
*{
    box-sizing: border-box; /*Damit das Spalten-Layout mit den % funktioniert*/
}

html{
    font-size: 16px;
    min-width: 600px;
}
body{
    background-color: rgba(250,240,230,0.5);
}
article, #navMain{
    background-color: white;
}

/*Größen*/
header, footer{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

main{
    min-height: 70vh;
}
header, footer, article, #navMain{
    border: 1px solid darkgrey;
    padding: 0.5em;
}


/*Listen anpassen*/
#navMain ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
#navMain ul li{
    margin: 0.5em 0;
}

footer nav ul{
    margin: 0px;
    padding: 0px;
    float: right;
} 
footer nav ul li{
    display: block;
    float:left;
    border-left: 1px solid darkgrey;
    border-right: 1px solid darkgrey;
    padding: 0 0.5ex;
}

/*Footer Hintergrundbild*/
footer nav{
    padding: 0.5em;
    background-image: url(https://www.snet.tu-berlin.de/fileadmin/_processed_/e/ec/csm_sn_mz_rgb_mittel_b0c0d3b1d0.jpg); 
    background-repeat: no-repeat;
    background-position: left center ;
    background-size: 8em;
}

/*Layout*/
.row::after{
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
}

/*Achtung: funktioniert nur wenn das Box-Modell auf border-box umgestellt wurde, da die Border-width ebenfalls eine nicht einkalkulierte Größe annimmt. Ansonsten müssen die Prozentangaben ein wenig angepasst werden (ungenau) */
.col-1{ width: 8.33%;}
.col-2{ width: 16.66%;}
.col-3{ width: 25%;}
.col-4{ width: 33.33%;}
.col-5{ width: 41.66%;}
.col-6{ width: 50%;}
.col-7{ width: 58.33%;}
.col-8{ width: 66.66%;}
.col-9{ width: 75%;} 
.col-10{ width: 83.33%;}
.col-11{ width: 91.66%;}
.col-12{ width: 100%;}
