h1 {
    color: navy;
}

html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

#logPanel {
    overflow: scroll;
    height: 250px;
    margin-top: 16px;
}

#footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
}