h1 {
    color: whitesmoke;
}

#stack_title {
    color: lightslategrey;
}

#card {
    min-height: 66px;
}

html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

#logPanel {
    font-family: Consolas, monaco, monospace;
    margin-top: 16px;
}

.progress-bar {
    background: rgb(91, 192, 222);
    color: whitesmoke;
}

.progress-bar-success {
    background:  rgb(92, 184, 92);
    color: whitesmoke;
}

@media only screen and (max-width:768px){
    #logPanel ul{
        height: 16px;
        max-height:160px;
    }
}

#logPanel ul{
    list-style: none;
    overflow: scroll;
    height: 160px;
}

#wrap {
    background: lightcoral;
}

#content {
    background: whitesmoke;
    border-radius: 25px;
}

#buttonsPanel > * {
    margin-top: 8px;
}

#show_paginator {
    margin: 16px;
}

.RIGHT {
    color : rgb(92, 184, 92);
    font-weight: bold;
}

.WRONG{
    color : rgb(217, 83, 79);
    font-weight: bold;
}
