h1 {
    color: navy;
}

#card {
    min-height: 66px;
}

html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

#logPanel {
    font-family: Consolas, monaco, monospace;
    margin-top: 16px;
    min-height: 100px;
    margin-bottom: 16px;
}

#logPanel ul{
    max-height: 300px;
    list-style: none;
    overflow: scroll;
}

#footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
}

#buttonsPanel > * {
    margin-top: 8px;
}

#rem {
    display: inline-block;
}

.RIGHT {
    color : green;
    font-weight: bold;
}

.WRONG{
    color: red;
    font-weight: bold;
}
